<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Namne</th>
      <th scope="col">Description</th>
      <th scope="col">Parent Id</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th scope="row"></th>
        <td><%= category.name%></td>
        <td><%= category.description %></td>
        <td><%= category.parent_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
